<ion-view title="Cadastrar" id="page5">
  <ion-content padding="true" class="has-header">
    <form id="cadastrar-form2" class="list">
      <ion-list id="cadastrar-list3">
        <label class="item item-input" id="cadastrar-input3">
          <span class="input-label">Nome</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="cadastrar-input4">
          <span class="input-label">E-mail</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="cadastrar-input5">
          <span class="input-label">Senha</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <button id="cadastrar-button3" class="button button-stable  button-block">Cadastrar</button>
    </form>
  </ion-content>
</ion-view>