<ion-view title="Entrar" id="page4">
  <ion-content padding="true" class="has-header">
    <form id="entrar-form1" class="list">
      <ion-list id="entrar-list2">
        <label class="item item-input" id="entrar-input1">
          <span class="input-label">E-mail</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="entrar-input2">
          <span class="input-label">Senha</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="categorias" id="entrar-button1" class="button button-stable  button-block">Entrar</a>
      <a ui-sref="cadastrar" id="entrar-button2" class="button button-positive  button-block button-clear">Ou crie uma conta</a>
    </form>
  </ion-content>
</ion-view>