<ion-view title="Finanças" id="page9">
  <ion-content padding="true" class="has-header" style="background:#a8c0e8;">
    <div class="spacer" style="height: 200px;">
      <p>Renda diária: R${{rendaDoDia}}</p>
    </div>
    <div class="spacer" style="width: 300px; height: 170px;"></div>
    <a ng-if="numMetas == 0" id="categorias-button7" class="button button-positive button-large button-block" ng-click="openGasto()">Adicionar Gasto</a>
    <a ng-if="numMetas == 0" id="categorias-button7" class="button button-positive button-large button-block" ng-click="openMeta()">Adicionar Meta</a>
  </ion-content>

</ion-view>
