<ion-view title="Lista de " id="page7">
  <ion-content padding="true" class="has-header">
    <form id="listaDe-form3" class="list">
      <label class="item item-input" id="listaDe-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Buscar">
      </label>
    </form>
    <div id="listaDe-container2">
      <ion-list id="listaDe-list4">
        <ion-item id="listaDe-list-item7" ui-sref="mazaXisSalada">Maza
          <span class="item-note">Xis Salada: R$15,00</span>
        </ion-item>
        <ion-item id="listaDe-list-item8">RU
          <span class="item-note">Pizza Média: R$12,00</span>
        </ion-item>
        <ion-item id="listaDe-list-item9">Espaço 32
          <span class="item-note"> Cachorro Quente: R$5,00</span>
        </ion-item>
      </ion-list>
    </div>
    <div>
      <img src="img/yPvo3c02RRe9bBUoZhUp_Screenshot_1.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>