<ion-view title="Maza - Xis Salada" id="page8">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/NbuaonURBaOdbWmyv1mW_Screenshot_2.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="mazaXisSalada-list5">
      <ion-item class="item-icon-left energized" id="mazaXisSalada-list-item10">
        <i class="icon ion-coffee"></i>Maza - Xis Salada
        <span class="item-note">★★★★☆</span>
      </ion-item>
      <ion-item id="mazaXisSalada-list-item17">Valor:
        <span class="item-note">R$ 15,00</span>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 40px;"></div>
    <ion-list id="mazaXisSalada-list6">
      <ion-item class="item-divider" id="mazaXisSalada-list-item-divider2"> Comentários do local</ion-item>
      <ion-item class="item-avatar" id="mazaXisSalada-list-item11">
        <h2>Muito bom os pratos</h2>
        <p>nota: ★★★★★</p>
      </ion-item>
      <ion-item class="item-avatar" id="mazaXisSalada-list-item13">
        <h2>Cerveja barata</h2>
        <p>nota: ★★★★☆</p>
      </ion-item>
      <ion-item class="item-avatar" id="mazaXisSalada-list-item12">
        <h2>Demorou muito para servir</h2>
        <p>nota: ★★★☆☆</p>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 71px;"></div>
    <button id="mazaXisSalada-button14" style="border-radius:0px 0px 0px 0px;" class="button button-energized  button-block">Adicionar Comentário</button>
  </ion-content>
</ion-view>