<ion-modal-view class="new_modal">
  <ion-header-bar align-title="center" class="bar-positive new-header">
    <h1 class="title" style="text-align">Informações</h1>
  </ion-header-bar>
  <ion-content class="padding" style="background:#a8c0e8;">
    <div style="margin-left: auto;margin-right: auto;display: block;padding:20px;padding-top:50%;">
      <div style="background:#387ef5;height: auto;color:white;">
        <p style="padding: 10px; text-align: center">Para fazer o cálculo de gasto diário, informe quanto você recebe por mês:</p>
        <input style="padding-left: 5px; margin-left: auto;margin-right: auto;display: block;margin-bottom:2px;width:80%" type="number" min='0' name="salary" ng-model="user.valor" placeholder="Salário"></input>
          <a id="categorias-button7" style="border-radius:0px 0px 0px 0px;" class="button button-calm button-large button-block" ng-click="sendSalary()">Enviar</a>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
